@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: "Roboto","Arial",sans-serif;
    text-decoration: none;
    border: none;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(15, 15, 15);
    color: rgb(241, 241, 241);
    text-align: justify;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2rem;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: red;
    padding: 0 15px;
    height: 60px;
    display: flex;
    align-items: center;
}

.rec {
    background-color: violet;
    height: 1000px;
    width: 100px;
    margin: 50px;
}

#burger_icon {
    display: none;
    cursor: pointer;
}

#burger_icon::before {
    content: "\2630";
}

#burger_icon.active::before {
    content: "\2715";
}

@media screen and (max-width: 768px) {
    #burger_icon {
        display: block;
    }
}